body {
    font-weight: 200;
}

h1,
h2, 
h3,
h4,
h5,
h6 {
    font-weight: 700;

    .bi {
        color: $primary;
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    -webkit-app-region: drag;
    font-size: 1.8rem;
    color: $gray-100;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: lighten($dark, 60);
    border-bottom: .1em solid lighten($dark, 15);
    padding-bottom: .5rem;
    z-index: 1;
}

label {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 500;
}

.list {
    &-unstyled {
        .bi, 
        .spinner-border {
            position: relative;
            top: 1px;
        }
    }
}