@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');

$font-family-sans-serif: 'Dosis', sans-serif;

$primary: #FFCF56;
$body-color: lighten(#2d2d39, 65);
$body-bg: transparent;
$headings-color: lighten(#2d2d39, 50);
$font-size-base: 1rem;
$dark: hsl(240, 12%, 20%);
$success: #519872;
$warning: #F7B32B;